@page
@model Psts.Web.Pages.Account.HomeModel
@{
    ViewData["Title"] = "Homepage - PSTS Solutions";
}

<img src="@Url.Content("~/Images/funny.gif")" alt="Funny GIF" />
<p>This page is currently under development. Thank you for your patience.</p>



