@page
@model Psts.Web.Pages.Account.HomeModel
@{
    ViewData["Title"] = "Homepage - PSTS Solutions";
}

<h1>Hello @User.Identity?.Name</h1>
<br />
<a asp-page="./Profile">See Profile</a>
<br />
<br />
<br />
<div> @Model.testResult?.Type </div>

<img src="@Url.Content("~/Images/funny.gif")" alt="Funny GIF" />


<p>@User.Identity?.Name</p>