@page
@model psts.web.Pages.Manage.changeBillingRateModel
@{
}


<p>This is the page for changing billing rates.</p>

<img src="@Url.Content("~/Images/funny.gif")" alt="Funny GIF" />
<p>This page is currently under development. Thank you for your patience.</p>
