@page
@model psts.web.Pages.Manage.IndexModel
@{
    ViewData["Title"] = "Manage - PSTS Solutions";
    ViewData["HideNavbar"] = false;
}
<p>This is the manage general page.</p>

<img src="@Url.Content("~/Images/funny.gif")" alt="Funny GIF" />
<p>This page is currently under development. Thank you for your patience.</p>
