@page
@model psts.web.Pages.Hours.HoursModel
@{
    ViewData["Title"] = "Hours - PSTS Solutions";
    ViewData["HideNavbar"] = false;
}


<p>This is the Hours page.</p>

<img src="@Url.Content("~/Images/funny.gif")" alt="Funny GIF" />
<p>This page is currently under development. Thank you for your patience.</p>
